## Exploratory Analysis of Multivariate Gait Data

### Source of information: 
* https://archive.ics.uci.edu/dataset/760/multivariate+gait+data

* https://www.semanticscholar.org/paper/Smoothing-spline-analysis-of-variance-models%3A-A-new-Helwig-Shorter/67cf199e6fe5619c24213abe53341e48f82a0012

* https://pubmed.ncbi.nlm.nih.gov/27553848/

In [1]:
# Import required dependencies
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier, AdaBoostClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.metrics import roc_auc_score, roc_curve, auc, confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import learning_curve

import matplotlib.pyplot as plt
import numpy as np
import warnings
from sklearn.metrics import balanced_accuracy_score
warnings.filterwarnings("ignore")

import seaborn as sns

In [2]:
# Import the data
df = pd.read_csv('./resources/gait.csv')

# Display the first 10 rows of the data
df.head(10)

   subject  condition  replication  leg  joint  time     angle
0        1          1            1    1      1     0  4.682881
1        1          1            1    1      1     1  5.073127
2        1          1            1    1      1     2  5.229774
3        1          1            1    1      1     3  5.083273
4        1          1            1    1      1     4  4.652399
5        1          1            1    1      1     5  4.037476
6        1          1            1    1      1     6  3.388987
7        1          1            1    1      1     7  2.863743
8        1          1            1    1      1     8  2.585939
9        1          1            1    1      1     9  2.621626